.serviceContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 20px;
}
.servicePackgBox .ImgBox img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#PackageOff .owl-item.active {
  opacity: 1;
}

#PackageOff .owl-item {
  opacity: 0;
  transition: all 0.3s;
}

[data-aos^="fade"][data-aos^="fade"].aos-animate {
  opacity: 1;
  transform: translateZ(0);
}
[data-aos][data-aos][data-aos-easing="ease"],
body[data-aos-easing="ease"] [data-aos] {
  transition-timing-function: ease;
}
[data-aos][data-aos][data-aos-duration="700"],
body[data-aos-duration="700"] [data-aos] {
  transition-duration: 0.7s;
}
[data-aos^="fade"][data-aos^="fade"] {
  opacity: 0;
  transition-property: opacity, transform;
}
[data-aos="fade-up"] {
  transform: translate3d(0, 100px, 0);
}
@media only screen and (min-width: 992px) {
  .servicePackgBox .ImgBox {
    height: 280px;
  }
}
@media only screen and (min-width: 576px) {
  .servicePackgBox .ImgBox {
    height: 266px;
  }
}
.servicePackgBox .ImgBox {
  width: 100%;
  height: 258px;
  position: relative;
  overflow: hidden;
  border: 2px solid #ff57227a;
}
.servicePackgBox .ImgBox img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.owl-carousel .owl-item img {
  display: block;
  width: 100%;
}
.serviceContainer .item {
  width: 380px;
  margin: 10px 0px;
}

@media only screen and (min-width: 1200px) {
  .servicePackgBox .ImgBox .TitleBox .Sub {
    font-size: 26px;
  }
  .servicePackgBox .ImgBox .TitleBox .Main {
    font-size: 35px;
  }
  .serviceContainer .item {
    width: 380px;
  }

  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: 1200px;
  }
}
@media only screen and (min-width: 992px) {
  .servicePackgBox .ImgBox .TitleBox {
    min-width: 265px;
    min-height: 110px;
  }
  .servicePackgBox .ImgBox .TitleBox .Sub {
    font-size: 23px;
  }
  .servicePackgBox .ImgBox .TitleBox .Main {
    font-size: 30px;
  }
  .servicePackgBox .CBox {
    padding: 25px 15px 35px;
  }
  .serviceContainer .item {
    width: 400px;
  }
}
@media only screen and (min-width: 576px) {
  .servicePackgBox .ImgBox .TitleBox {
    min-width: 235px;
    min-height: 100px;
  }
  .servicePackgBox .ImgBox .TitleBox .Sub {
    font-size: 20px;
  }
  .servicePackgBox .ImgBox .TitleBox .Main {
    font-size: 26px;
  }
  .serviceContainer .item {
    width: 340px;
  }
}
.servicePackgBox .ImgBox .TitleBox {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background: rgb(249 249 249 / 77%);
  color: #000;
  min-width: 192px;
  padding: 18px 13px 10px;
  min-height: 80px;
  width: fit-content;
  width: -moz-fit-content;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
}
.servicePackgBox .ImgBox .TitleBox > * {
  padding: 4px 0;
}
.servicePackgBox .ImgBox .TitleBox .Sub {
  font-size: 17px;
}
.servicePackgBox .ImgBox .TitleBox .Main {
  font-size: 23px;
  font-weight: 900;
}
.servicePackgBox .ImgBox::after {
  position: absolute;
  top: 0;
  left: -100%;
  z-index: 2;
  opacity: 0;
  display: block;
  content: "";
  width: 50%;
  height: 100%;
  background: -webkit-linear-gradient(
    left,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.5) 100%
  );
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.5) 100%
  );
  -webkit-transform: skewX(-25deg);
  transform: skewX(-25deg);
}
.servicePackgBox .CBox {
  padding: 10px 15px 28px;
  position: relative;
  height: 100px;
  background: whitesmoke;
  box-shadow: 0px 1px 2px 2px #ff9800;
  display: flex;
  align-items: center;
}

.CBox:hover {
  color: var(--primary-color);
}

a:hover {
  color: var(--primary-color);
}

.shimmer {
  position: absolute;
  top: 0;
  left: -50%; /* Start shimmering off-screen */
  width: 200%;
  height: 100%;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.3) 100%,
    rgba(255, 255, 255, 0) 100%
  );
  animation: shimmerAnimation 3s infinite linear;
  opacity: 0;
}

@keyframes shimmerAnimation {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

.ImgBox {
  position: relative;
  overflow: hidden;
}

.ImgBox:hover .shimmer {
  opacity: 1; /* Show shimmer on hover */
}

.Txt {
  color: #5f5e5e;
  font-weight: 600;
}

.kitchen .testimonial-item {
  box-shadow: 0px 0px 3px 1px #f77a34;
  height: 250px;
  border-radius: 9px;
}

.kitchen .swipe-slider {
  width: 400px;
}

.kitchen
  .swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets.swiper-pagination-horizontal {
  display: none;
}

.kitchen .swiper-wrapper {
  padding: 5px;
}

.gallery-link {
  font-weight: 700;
}

.gallery-link:hover {
  color: var(--secondary-color);
}

.modern-service {
  position: relative;
  background: #00000078;
}

.modern-service::before {
  background-image: url(../img/bg/paper3.jpg);
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
    /* filter: brightness(0.8); */
    background-size: cover;
    background-color: red;
}

.modern-service .section-title h2 {
  color: var(--secondary-color);
}

section#wardrobe {
  position: relative;
}

section#wardrobe::before {
  background-image: url(../img/bg/bg5.jpg);
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -1;
  filter: brightness(0.4);
  background-size: cover;
  background-attachment: fixed;
}

section#wardrobe .kitchen-title h2 {
  color: var(--secondary-color);
}

.view_all:hover {
  color: var(--secondary-color);
}

.we-img img {
  width: 100%;
}

.services-link {
  font-weight: 600;
}
.services-link:hover {
  color: var(--secondary-color);
}

.service-workstation {
  position: relative;
}

.service-workstation .services-link {
  color: white;
}
.service-workstation .services-link:hover {
  color: var(--secondary-color);
}
.service-workstation::before {
  /* background-image: url(../img/bg/pt2.jpeg); */
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  /* background-color: rgba(0, 0, 0, 0.5); */
  z-index: -1;
  filter: brightness(0.9);
  /* background-size: cover; */
  background: linear-gradient(176deg, #ffc1072b, #f140409c);
}

.service-ac {
  position: relative;
}

.service-ac .services-link {
  color: white;
}
.service-ac .services-link:hover {
  color: var(--secondary-color);
}
.service-ac::before {
  background-image: url(../img/bg/pt2.jpeg);
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  filter: brightness(0.9);
  background-size: contain;
  background-attachment: fixed;
}

.service-ac .kitchen-title h2 {
  color: var(--secondary-color);
}

.service-ac .we-content p {
  color: #effaff;
}
.we-img:hover {
  transform: scale(1.1);
}
.we-img {
  transition: transform 0.3s ease;
}
.we-content {
  padding: 20px 20px;
}

.service-electrical {
  position: relative;
}

.service-electrical .services-link {
  color: white;
}
.service-electrical .services-link:hover {
  color: var(--secondary-color);
}
.service-electrical::before {
  background-image: url(../img/bg/pt9.jpeg);
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  filter: brightness(0.9);
  background-size: cover;
  background-attachment: fixed;
}

.service-electrical .kitchen-title h2 {
  color: var(--secondary-color);
}
section#electrical .we-content {
  color: #fff7ea;
}

.card {
  box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.3);
  border: none;
  margin-bottom: 30px;
}

.image-container {
  position: relative;
  overflow: hidden;
  display: inline-block;
  box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  height: 275px;
}

.image-container img {
  transition: transform 0.3s;
  max-width: 100%;
  height: 100%;
}

.image-title {
  position: absolute;
  bottom: -10%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 1;
  transition: opacity 0.3s, transform 0.3s;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  padding: 10px 20px;
  /* border-radius: 5px; */
  width: 100%;
}

.image-container:hover img {
  transform: scale(1.1);
}

.image-container:hover .image-title {
  opacity: 1;
}

.carousel-caption {
  left: 8%;
  padding-bottom: 20px;
  color: #fff;
  top: 25%;
  right: 8%;
}

.carousel-caption h1 {
  z-index: 5;
  font-size: 55px;
  font-weight: 800;
  color: #fff;
  transition: none 0s ease 0s;
  text-align: inherit;
  line-height: 70px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.carousel-caption p {
  z-index: 6;
  font-size: 20px;
  line-height: 32px;
  font-weight: 400;
  color: #fff;
  max-width: 700px;
  margin: 0 auto;
}

.banner-white-btn {
  text-align: left;
  line-height: 25px;
  letter-spacing: 0px;
  font-weight: 700;
  border-color: #fff;
  border-style: solid;
  border-width: 1px;
  border-radius: 0;
  padding: 11px 45px 13px;
  margin-top: 30px;
  font-size: 16px;
  display: inline-block;
  color: #fff
}

.banner-white-btn:hover,.banner-white-btn:focus,.banner-white-btn:active {
  border-color: var(--primary-color);
}

.why-choose h2::after {
  content: "";
  position: absolute;
  display: block;
  width: 50px;
  height: 3px;
  background: var(--primary-color);
  bottom: 0;
  /* left: calc(50% - 25px); */
  text-align: start;
}
/* why choose css */
.why-choose .icon-box {
  text-align: center;
  padding: 60px 20px 70px 20px;
  transition: all ease-in-out 0.3s;
  background: #fff;
  box-shadow: 0px 0 35px 0 rgba(0, 0, 0, 0.08);
}

.why-choose .icon-box .icon {
  margin: 0 auto;
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: ease-in-out 0.3s;
  position: relative;
}

.why-choose .icon-box .icon i {
  font-size: 36px;
  transition: 0.5s;
  position: relative;
}

.why-choose .icon-box .icon svg {
  position: absolute;
  top: 0;
  left: 0;
}

.why-choose .icon-box .icon svg path {
  transition: 0.5s;
  fill: #f5f5f5;
}

.why-choose .icon-box h4 {
  font-weight: 600;
  margin: 10px 0 15px 0;
  font-size: 22px;
}

.why-choose .icon-box h4 a {
  color: #111;
  transition: ease-in-out 0.3s;
}

.why-choose .icon-box p {
  line-height: 24px;
  font-size: 14px;
  margin-bottom: 0;
}

.why-choose .icon-box:hover {
  border-color: #fff;
  box-shadow: 0px 0 35px 0 rgba(0, 0, 0, 0.08);
}

.why-choose .iconbox-blue i {
  color: #47aeff;
}

.why-choose .iconbox-blue:hover .icon i {
  color: #fff;
}

.why-choose .iconbox-blue:hover .icon path {
  fill: #47aeff;
}

.why-choose .iconbox-orange i {
  color: #ffa76e;
}

.why-choose .iconbox-orange:hover .icon i {
  color: #fff;
}

.why-choose .iconbox-orange:hover .icon path {
  fill: #ffa76e;
}

.why-choose .iconbox-pink i {
  color: #e80368;
}

.why-choose .iconbox-pink:hover .icon i {
  color: #fff;
}

.why-choose .iconbox-pink:hover .icon path {
  fill: #e80368;
}

.why-choose .iconbox-yellow i {
  color: #ffbb2c;
}

.why-choose .iconbox-yellow:hover .icon i {
  color: #fff;
}

.why-choose .iconbox-yellow:hover .icon path {
  fill: #ffbb2c;
}

.why-choose .iconbox-red i {
  color: #ff5828;
}

.why-choose .iconbox-red:hover .icon i {
  color: #fff;
}

.why-choose .iconbox-red:hover .icon path {
  fill: #ff5828;
}

.why-choose .iconbox-teal i {
  color: #11dbcf;
}

.why-choose .iconbox-teal:hover .icon i {
  color: #fff;
}

.why-choose .iconbox-teal:hover .icon path {
  fill: #11dbcf;
}

.service-slider .swiper-slide {
  width: 420px !important;
  height: 320px;
}

button.call_now_btn {
  padding: 15px 35px;
  border-radius: 25px;
  border-color: #f77a34;
  background: white;
  color: #f77a34;
  font-weight: 800;
}

button.call_now_btn:hover {
  background: #f77a34;
  color: white;
  box-shadow:1px 3px 5px 1px #e8ac54
}

button.chat_btn {
  padding: 15px 35px;
  border-radius: 25px;
  border-color: #009688;
  background: white;
  color: #009688;
  font-weight: 800;
  margin-left: 20px;
}
button.chat_btn:hover {
  background: #009688;
  color: white;
  box-shadow:1px 3px 5px 1px #53dacd
}

.connect {
  position: relative;
}

.connect::before {
  background-image: url(../img/bg/paper2.jpg);
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  filter: brightness(0.9);
  background-size: cover;
  background-attachment: fixed;
}