#header {
  transition: background-color 0.3s ease;
  padding: 0;
  background: white;
  height: 80px;
  display: flex;
  align-items: center;
}

#header.black-bg {
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 5px 15px;
}
.navbar a {
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-weight: 400 !important;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.banner-item {
  width: 100%;
}

.banner-slider {
  height: 536px;
}

img.banner-img {
  width: 100%;
  height: 100%;
}

.home-swiper .swiper-pagination {
  z-index: 10000;
  opacity: 1;
  bottom: 20px !important;
}
.home-swiper .swiper-pagination .swiper-pagination-bullet {
  width: 15px;
  height: 15px;
  background: #000000;
  cursor: pointer;
  box-sizing: content-box;
  border-radius: 0;
}
.home-swiper .swiper-pagination .swiper-pagination-bullet-active {
  background: #ff9800;
}
/* 
@keyframes zoomout {
  0% { transform: scale(1) translateX(0%); }
  25% { transform: scale(1.01) translateX(1%); }
  50% { transform: scale(1.005) translateX(0%);}
  75% { transform: scale(1.1) translateX(1%);}
  100% { transform: scale(1) translateX(0%); } 
}

.home-swiper .swiper-slide img {
  animation: zoomout 15s ease-in-out infinite; 
  transform: scale(1) translateX(0); 
  width: 107%;
  height: 110%;
} */

.home-swiper {
  width: 100%;
  height: 100%;
}
@keyframes zoomout {
  0% {
    transform: scaleX(1);
  }
  100% {
    transform: scaleX(0.9);
  } /* Adjust the final scale as needed */
}

.home-swiper .swiper-slide {
  width: 100%;
  height: 100%;
}

.home-swiper .swiper-slide img {
  animation: zoomout 15s ease-in-out infinite; /* Adjust animation duration as needed */
  transform-origin: left center; /* Set the transform origin to the left side */
  width: 120%;
  height: 120%;
}

h2.why-choose-title {
  text-transform: capitalize;
  font-family: Montserrat, sans-serif !important;
  font-weight: 500;
  color: #000;
}

h2.why-choose-title span {
  font-weight: 700;
}

.projectbox {
  max-width: 485px;
  display: block;
  outline: 1px solid #c8ad73;
  outline-offset: -20px;
  float: right;
  margin-bottom: 50px;
}
.projectbox .image {
  width: 100%;
  height: 323px;
  display: block;
  text-align: center;
  margin: auto;
}
.projectbox .image img {
  display: block;
  height: 100%;
  margin: auto;
  text-align: center;
  object-fit: cover;
  width: 100%;
}
.projectbox .description {
  background: #191919;
  padding: 15px 35px 35px 35px;
}
.projectbox .description .name {
  font-family: "Playfair Display";
  font-size: 18px;
  color: #f2f2f2;
  text-align: center;
}
.projectbox .description {
  background: #191919;
  padding: 15px 35px 35px 35px;
}
.projectbox .description ul li {
  display: inline-block;
  font-family: "Montserrat", sans-serif;
  font-size: 11px;
  margin-right: 10px;
  color: #f2f2f2;
  font-weight: 200;
}
.projectbox .description ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.de_testi blockquote::before {
  content: "";
  padding-bottom: 10px;
  display: inline-block;
  padding: 36px 29px 12px 25px;
  background: url(../img/double-quotes.png);
  position: absolute;
  left: 66px;
  background-color: #fab207;
  background-size: 19px;
  background-repeat: no-repeat;
  background-position: center;
}
.de_testi blockquote {
  color: #eceff3;
}
.de_testi blockquote {
  margin: 0;
  border: none;
  padding: 35px 30px 50px 80px;
  background: rgba(0, 0, 0, 0.5) !important;
  font-style: normal;
  line-height: 1.6em;
  font-weight: 500;
}
.de_testi {
  display: block;
  margin-bottom: 10px;
}
.de_testi blockquote,
.de_testi blockquote p {
  font-size: 16px;
  line-height: 1.6em;
  font-weight: 400;
}
.de_testi_by {
  margin-top: -10px;
  font-style: normal;
  font-size: 12px;
}
blockquote::before,
blockquote::after {
  content: "";
}
::before,
::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.testimonials .swiper-slide {
  padding: 10px 40px;
}
.client-slider {
  opacity: 1;
  display: block;
  visibility: visible;
  animation-delay: 0.3s;
  animation-name: fadeInUp;
  padding: 0px 20px;
}
.client-slider .item {
  width: 100%;
}

.testimonials {
  padding-top: 90px !important;
  padding-bottom: 90px !important;
  position: relative;
}
.testimonials::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../img/bg/bg10.jpg);
  filter: sepia(1);
  background-repeat: no-repeat;
  background-size: cover;
}

.client-slider .section-title h2 {
  text-align: center;
  color: #eceff3;
  font-family: "Dosis", Arial, Helvetica, sans-serif;
  font-size: 32px;
  margin: 0;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 300;
}
.t-item {
  width: 530px !important;
}
/* interior sections */
.working-style2-area {
  display: block;
  background-attachment: fixed;
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  padding: 0px 0 110px;
  margin-top: 110px;
  z-index: 1;
  height: 600px;
}
.working-style2-content {
  position: absolute;
  top: -83px;
}
.single-working-box-style2 {
  position: relative;
  display: block;
  width: 25%;
  float: left;
}
.single-working-box-style2 .img-holder {
  position: relative;
  display: block;
  overflow: hidden;
}
.single-working-box-style2 .img-holder img {
  width: 100%;
  transform: scale(1);
  transition: all 700ms ease;
}
.single-working-box-style2 .static-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  visibility: visible;
  opacity: 1;
  transform: translateY(0px);
  transition: all 500ms ease 100ms;
}
.single-working-box-style2 .static-content .box {
  display: table;
  width: 100%;
  height: 100%;
}
.single-working-box-style2 .static-content .box .inner {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.single-working-box-style2 .icon-holder {
  position: relative;
  width: 110px;
  height: 110px;
  margin: 0 auto 60px;
  text-align: center;
  border: 2px solid #ffffff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.single-working-box-style2 .text-holder {
  position: relative;
  display: block;
}
.single-working-box-style2 .icon-holder span::before {
  display: block;
  color: #ffffff;
  font-size: 55px;
  line-height: 106px;
}
.single-working-box-style2 .text-holder .title {
  position: relative;
  display: block;
  font-family: "Rubik", sans-serif;
}
.single-working-box-style2 .text-holder .title h3 {
  color: #ffffff;
  font-size: 20px;
  line-height: 70px;
  font-weight: 600;
  z-index: 1;
  font-family: "Rubik", sans-serif;
}
.single-working-box-style2 .text-holder .title .count {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  color: #2d2e32;
  font-size: 100px;
  line-height: 70px;
  font-weight: 500;
  font-family: "Rubik", sans-serif;
  z-index: -1;
}
.single-working-box-style2 .overlay-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
  opacity: 0;
  transform: translateY(100%);
  transition: all 300ms ease 100ms;
}
.single-working-box-style2 .overlay-content .box {
  display: table;
  width: 100%;
  height: 100%;
}
.single-working-box-style2 .overlay-content .box .inner {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.single-working-box-style2 .overlay-content .icon-holder {
  margin: 0 auto 50px;
  border: 2px solid var(--primary-color);
  background: var(--primary-color);
}
.icon-architecture-and-city::before {
  content: "\e915";
}
.single-working-box-style2 .read-more a span::before {
  position: absolute;
  left: 0;
  bottom: -30px;
  right: 0;
  width: 60px;
  height: 60px;
  margin: 0 auto;
  background: var(--primary-color);
  border-radius: 50%;
  color: #ffffff;
  font-size: 20px;
  line-height: 60px;
  text-align: center;
  opacity: 0;
  transform: scale(0.5);
  transition: all 200ms ease 100ms;
}
.working-style2-area::before {
  background: rgba(0, 0, 0, 0.8) none repeat scroll 0 0;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  content: "";
  z-index: -1;
}
.work-data {
  position: relative;
}
.icon-holder i {
  font-size: 56px;
  color: white;
}
.single-working-box-style2:hover .img-holder img {
  transform: scale(1.2);
}
.single-working-box-style2:hover .static-content {
  opacity: 0;
  visibility: hidden;
  transform: translateY(100%);
  transition: all 900ms ease 100ms;
}
.single-working-box-style2:hover .overlay-content {
  opacity: 1;
  transform: translateY(-10px);
  transition: all 900ms ease 300ms;
}
.btn-one {
  position: relative;
  display: inline-block;
  background: var(--primary-color);
  color: #ffffff;
  font-size: 15px;
  line-height: 60px;
  font-weight: 500;
  text-transform: capitalize;
  font-family: 'Rubik', sans-serif;
  padding: 0 30px 0;
  transition: all 500ms ease;
}
.working-style-bottom {
  position: absolute;
  bottom: 65px;
  left: 45%;
}
.btn-one:hover {
  color: #ffffff;
  background: #27282c;
}
.text-holder p {
  color: #ddd;
}