

/* Media query for mobile devices */
@media (max-width: 576px) {
    .home-swiper .swiper-slide img {
        width: auto;
    }
    #about-us {
        padding: 40px 20px 40px 20px;
    }
    #about-us .section-title, #testimonials .section-title {
        padding-bottom: 0px;
    }
    .de_testi blockquote::before {
        left: 10px;
    }
    .testimonials .swiper-slide {
        padding: 10px;
    }
    .single-working-box-style2 {
        width: 77%;
        height: 82%;
        left: 12%;
    }
    .working-style2-area {
        height: 2250px;
    }
    .working-style-bottom {
        left: 40%;
    }

}

/* Media query for tablets (e.g., iPad) */
@media (max-width: 768px) {
    .testimonials {
        padding-top: 60px !important;
        padding-bottom: 60px !important;
    }
}